# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# Archivos de entorno
.venv/
.env

# Archivos temporales y de sistema
*.log
*.tmp
*.bak
*.swp
__pycache__/
Thumbs.db
Desktop.ini

# Datos del navegador o locales
AppData/
Local/
Temp/

# Node / Python / otros entornos
node_modules/
dist/
build/