# -----------------------------
# Visual Studio
# -----------------------------
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# -----------------------------
# Entornos / Python
# -----------------------------
.venv/
.env/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Archivos temporales / logs / sistema
# -----------------------------
*.log
*.tmp
*.bak
*.swp
Thumbs.db
Desktop.ini
*.DS_Store

# -----------------------------
# Datos locales de usuario / Navegadores
# -----------------------------
AppData/
Local/
Temp/
Brave-Browser/User Data/

# -----------------------------
# Node / JavaScript / otros
# -----------------------------
node_modules/
dist/
build/